<?xml version="1.0"?>
<model>
  <name>huksberry</name> <!-- 너가 만든 모델 이름 -->
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>you@example.com</email>
  </author>
  <description>
    This is a simple model using a DAE mesh.
  </description>
</model>